
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.table {
    animation: transitionIn 1s;
}


.table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: #C1CEFE solid 2px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Helvetica;
}

.table th, .table td {
    padding: 25px;
    border-right: #C1CEFE solid 1px;
}

.table thead th {
    border-bottom: #C1CEFE solid 1px;
}

.table td {
    color: #eeeeee;
}
